html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('images/fundo_site.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: Arial, sans-serif;
    
}

/********** Cabeçalho **************/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}

/* Seção que agrupa logo e navegação à esquerda */
.left-section {
    display: flex;
    align-items: center;
}

/* Logo */
.logo img {
    height: 65px;
    margin-right: 110px;
}

/* Barra de navegação */
.nav-container {
    background-color: #333;
    padding: 13px 30px;
    border-radius: 34px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 70px;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    text-decoration: underline;
    text-decoration-color: red;
}


/********** Botões do cabeçalho **************/
.buttons {
    display: flex;
    gap: 40px;
    margin-right: 220px;
    width: auto;
}

/* Estilização dos botões */
button {
    padding: 10px 1px;
    border: none;
    border-radius: 13px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
}

.sign-up {
    background-color: red;
    color: white;
    border: none;
}

.custom-request {
    background-color: black;
    color: white;
    border: 2px solid red;
}

.sign-up:hover {
    background-color: rgb(78, 0, 0);
}

.custom-request:hover {
    background-color: rgb(78, 0, 0);
    color: white;
    border-color:rgb(78, 0, 0) ;
}

/********** Corpo da Página Inicial (Home) **************/
/* Garante que a seção ocupe toda a tela */
.home-content {
    height: 60vh; /* Ocupa 100% da altura da tela */
    display: flex;
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    align-items: center; /* Centraliza verticalmente */
    padding-left: 90px; /* Adiciona um pequeno espaço da borda esquerda */
}

/* Texto médio */
.medium-text {
    font-size: 35px;
    color: white;
    margin-bottom: 5px; /* Menor espaçamento entre os parágrafos */
}

/* Texto grande */
.large-text {
    font-size: 100px;
    color: red;
    font-weight: bold;
    margin-bottom: 5px; /* Menor espaçamento entre os parágrafos */
    margin-top: 0; /* Ajusta o topo */
}

/* Texto pequeno */
.small-text {
    font-size: 16px;
    color: white;
    max-width: 400px; /* Mantém o texto com uma largura confortável */
    line-height: 1.5;
    margin-top: 5px; /* Ajusta o topo para aproximar mais */
    margin-bottom: 50px;
}


/* Botões */
.text-buttons {
    display: flex;
    gap: 40px;
    margin-right: 220px;
    width: auto;
}

.new-arrivals{
    background-color: red;
    color: white;
    border: none;
}

.best-setups {
    background-color: black;
    color: white;
    border: 2px solid red;
}

.new-arrivals:hover {
    background-color: rgb(78, 0, 0);
}

.best-setups:hover {
    background-color: rgb(78, 0, 0);
    color: white;
    border-color:rgb(78, 0, 0) ;
}

/* Imagem à direita */
.image-container {
    width: 45%; /* Imagem ocupa a outra parte da tela */
    display: flex;
    justify-content: center; /* Centraliza a imagem dentro do container */
    position: relative;
    right: -320px; /* Move a imagem mais para a margem direita */
    bottom: -50px;
}

.right-image {
    width: 100%; /* Ajusta a imagem para ocupar toda a largura disponível */
    object-fit: cover; /* Mantém a proporção da imagem sem distorção */
    height: 100%; /* Ajusta a altura para ocupar toda a área do container */
}
